* { 
    background-color: #ded5eb;
    font-family: 'EB Garamond', serif;
    font-family: 'Merriweather', serif;
}

h1,h3{
    
    text-align: center;
    padding-top: 3%;
}

#datos{
    padding-top: 3%;
}
#informacion{
    padding-top: 5%;
 }
 #botones{
    text-align: center;
    }
 #boton1{
    margin-right: 5%;
 }
.contacto{
    padding-left: 20%;
    padding-top: 5%;
}

#texto{
    padding: 5%;
    text-align: center;
}
#formacion{
    padding: 10%;
   
}
#acordion{
    padding: 10%;
}

#trabajo{
    padding: 5%;
    
}
#trabajo-boton{
    margin-left: 20%;
}